:root {

    --body_bg_color: #0a0a0a;
    --body_bg_color2: #3b1b14;
    --bg_color: #1a1a20;
    --darker_bg_color: #070707;
    --bg_color2: #5a1f0f;
    --text_color: #e0c097;
    --border_color: #8b2c23;
    --border_color2: #d4b16a;
    --slot_number_border_color: #a11a1a;
    --slot_bg_color: #111010;
    --slot_number_color: #f5deb3;
    --accent: #7a1c0e;
    --title_border_color: rgb(116, 95, 72);
    --coin_glow_color: rgb(179, 121, 46);


    --halfed_border_thickness: 1px;
    --border_thickness: 2px;
    --slot_border_set: solid var(--border_color2);
    --slot_rotation_speed: 200ms;
    --wheel_rotation_speed: 1.3s;
}

.playfair_display{
    font-family: "Playfair Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3;
}

.jersey_10_regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.protest_revolution{
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.tangerine {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    
    text-align: center;
}

.italianno {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(20deg, var(--body_bg_color), var(--body_bg_color2));
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

header{
    width: 50%;
    height: 13vh;
    background-color: var(--bg_color);
    border: var(--border_thickness) solid var(--border_color2);
    margin: 0;
    border-radius: 5px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

main{
    box-sizing: border-box;
    height: 100vh;
    width: 70%;
    background-color:  transparent;
    color: var(--text_color);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    z-index: 82;
    position: relative;
    transition: transform 0.5s ease;
}

#title_container{
    width: 50%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 12vh;
    z-index: 1;
    position: relative;
    z-index: 83;
}

#title_text{
    box-sizing: border-box;
    color: var(--text_color);
    width: fit-content;
    height: 100%;
    font-size: 70pt;
    margin: 0;
    display: flex;
    padding-top: 47px;
    text-shadow:
        1px 1px 0 var(--title_border_color),
        -1px 1px 0 var(--title_border_color),
        1px -1px 0 var(--title_border_color),
        -1px -1px 0 var(--title_border_color),
        0px 0px 10px var(--title_border_color);
    font-variant: small-caps;
    font-style: italic;
}   

#mashine_box{
    width: 70%;
    height: 60.3%;
    background-color: var(--bg_color);
    border: var(--border_thickness) solid var(--border_color2);
    color: var(--text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    z-index: 82;
    position: relative;
}

#wheel{
    z-index: 0;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 56%;
    left: 80%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: all var(--wheel_rotation_speed) ease-out;
    z-index: 81;
    opacity: 0.6;
}


div{
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

button{
    width: 30%;
    height: 60%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: var(--accent);
    color: var(--text_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    width: 13%;
    border-radius: 20px;
    height: 50%;
    background-color: var(--accent);
    color: var(--text_color);
}

button, input{
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        0px 0px 10px black;
    font-size: 15pt;
}

h2{
    color: var(--text_color);

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 2%;
    height: 7%;
    background-color: var(--bg_color);
    border-bottom: var(--border_thickness) solid var(--border_color2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 120;
}

nav button, h2{
    margin: 0px 10px 0px 10px;
}

nav button, h2{
    width: 12%;
    height: 60%;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h2{
    width: fit-content;
}

p, h1, h2, h3, h4, h5, a, button, u, img,div {
    user-select: none;
    color: var(--text_color);
    font-size: 30px;
    margin: 10px;
}



#m05{  
    box-sizing: border-box;
    display: none;
    z-index: 83; /*83*/
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding-top: 60px;
    background-color: rgba(0, 0, 0,0.8);
    transition: background-color 0.8s ease;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

@keyframes appear_from_bottom {
    0% {transform: translateY(100%); opacity: 0;}
    100% {transform: translateY(40%); opacity: 1;}
}

@keyframes appear_from_top {
    0% {transform: translateY(-70%); opacity: 0;}
    100% {transform: translateY(90%); opacity: 1;}
}

#win_box{
    opacity: 0;
    height: 20%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    transition: opacity 1s ease;
    z-index: 84;
}

#won_win_condition_label{
    margin: 0;
    color: black;
    width: 100%;
    height: fit-content;
    z-index: 84;
    border-radius:40%;
    font-size: 40pt;
    opacity: 1;
    text-shadow:
        1px 1px 0 var(--text_color),
        -1px 1px 0 var(--text_color),
        1px -1px 0 var(--text_color),
        -1px -1px 0 var(--text_color),
        0px 0px 10px var(--text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(60%);
    /* border-bottom: 2px solid var(--text_color); */
    animation: appear_from_bottom 2s ease forwards;
}

#line_up{
    width: 100%;
    border-radius:100%;
    height: 12%;
    background-color: transparent;
    border-bottom: 2px solid var(--text_color);
    margin: 0;
}

#line_down{
    width: 100%;
    border-radius:100%;
    height: 12%;
    background-color: transparent;
    border-top: 2px solid var(--text_color);
    margin: 0;
}

#win_amount_label{
    margin: 0;
    color: black;
    width: 100%;
    height: 7%;
    z-index: 84;
    border-radius: 20%;
    font-size: 90pt;
    opacity: 1;
    text-shadow:
        1px 1px 0 var(--text_color),
        -1px 1px 0 var(--text_color),
        1px -1px 0 var(--text_color),
        -1px -1px 0 var(--text_color),
        0px 0px 10px var(--text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(90%);
    animation: appear_from_top 2s ease forwards;
    /* border-top: 2px solid var(--text_color); */
}

#win_box h5{
    margin: 0;
    color: black;
    width: 100%;
    height: 7%;
    z-index: 84;
    border-radius: 20%;
    font-size: 15pt;
    opacity: 1;
    text-shadow:
        1px 1px 0 var(--text_color),
        -1px 1px 0 var(--text_color),
        1px -1px 0 var(--text_color),
        -1px -1px 0 var(--text_color),
        0px 0px 10px var(--text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(600%);
}


@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  100% {
    transform: translateY(200vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes opacity {
    from {opacity: 1;}
    to {opacity: 0;}    
}
.coin{
    opacity: 0;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    box-shadow:
        0 0 5px var(--coin_glow_color),
        0 0 10px var(--coin_glow_color),
        0 0 30px var(--coin_glow_color);
    /* animation: fall 2s linear forwards; */
    transition: opacity 1s ease;
}

.coin_row{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    z-index: 1;
}



#bet_amount_label{
    font-size: 26pt;
}

#balance{
    font-size: 30pt;
}


#pole_container{
    width: 50%;
    height: 7%;
    gap: 50%;
    margin: 0;
}


#nav_bar{
    width: 100%;
    height: 13%;
    gap: 2%;
    border: 0;
}

#spin{
    font-size: 20pt;
    padding: 10px;
}

.row_align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.column_align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#container{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    border: var(--border_thickness) solid var(--border_color);
    gap: 0%;
    margin: 0;
    border-radius: 10px;
    width: 90%;
    height: 80%;
    background-color: var(--bg_color2);
}


.slot{
    box-sizing: border-box;
    margin: 0;
    height: fit-content;
    width:fit-content;
    text-align: center;
    background-color: var(--slot_bg_color);
    color: var(--slot_number_color);
    font-size: 130pt;
    line-height: 1.3;
    transition: all var(--slot_rotation_speed) ease, font-size 100ms ease, text-shadow 100ms;
    text-shadow:
        2px 2px 0 var(--slot_number_border_color),
        -2px 2px 0 var(--slot_number_border_color),
        2px -2px 0 var(--slot_number_border_color),
        -2px -2px 0 var(--slot_number_border_color),
        0px 0px 20px var(--slot_number_border_color);
    border-radius: 200px;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding-right: 20px;
}


.slot_border{
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: var(--halfed_border_thickness) var(--slot_border_set);
    border-top: var(--border_thickness) var(--slot_border_set);
    border-bottom: var(--border_thickness) var(--slot_border_set);
    height: 90%;
    width: 50%;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction: column;
    background-color: var(--slot_bg_color); 
    /* padding-bottom: 30px; */
}

#slot1_border{
    border-left: var(--border_thickness) var(--slot_border_set);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#slot3_border{
    border-right: var(--border_thickness) var(--slot_border_set);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#win_conditions_table{
    margin: 30px;
    background-color: rgba(37, 37, 37, 0.11);
    border: 2px solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
    padding: 30px 40px 30px 40px;
    box-sizing: border-box;
}

#win_conditions_table::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

#win_c_text{
    font-size: 60pt;
    width: 55%;
    height: 150px;
    margin: 0px;
    border-top: 1px solid var(--border_color2);
    border-bottom: 1px solid var(--border_color2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.win_c_option{
    width: 100%;
    height: 20%;
    border-radius: 10px;
    /*border-top: 1px solid var(--border_color2);*/
    border-bottom: 1px solid var(--border_color2);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    flex-shrink: 0;
    margin-top: 20px;
}



.num_combination{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
    
}

.win_c_option h1{
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    color: var(--text_color);
    font-size: 30pt;
    line-height: 0.6;
    flex-shrink: 0;
    height: 50%;
}

.win_c_option u{
    color: var(--text_color);
    font-size: 30pt;
    text-decoration-thickness: 1.5px;
}

#opt2{
    width: 15%;
    border-left: 2px solid var(--border_color2);
    border-right: 2px solid var(--border_color2);
}

#arrow{
    margin-left:150px;
}

.reward{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
}

.reward h1{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:  0;
    font-size: 25pt;
}

#minWinNum, #maxWinNum{
    margin: 5px;
}